nav {
    background-color: orangered;
    color: white;
}

.jumbotron {
    background-color: orangered;
    color: white;
    font-family: 'Odibee Sans', cursive;
}

#portfolio {
    background-color: rgb(245, 243, 243);
}


 
 
@media only screen and (max-width: 1500px) {
    html, body {                 
            margin-left:2%;
            margin-right:2%;                 
}
}
@media only screen and (min-width:1501px) {
html, body {
        margin-left:5%;
        margin-right:5%;
}
}







